<h1>Boostrap Demo</h1>

<div class="row">
    <div class = "col bg-info">
        <img src="/images/cat.jpg" alt = "cute cat" width = 100%>

    </div>
    <div class = "col bg-primary">
        <p>
            This is the middle section
        </p>
    </div>

    <div class = "col bg-info">
        <img src = "/images/dog.jpg" alt = "cute dog" width = 100%>
    </div>

</div>