    <div class="row">
        <div class="col p-5 m-3">
            <h1>Discover, collect, and sell extraordinary NFTs</h1>
            <h4>
                This NFT Marketplace allows you to create your own NFTs with ease
            </h4>

            <a  href="/create"> <button class="button1">Create</button> </a>
            <button class="button2" >Explore</button>

        </div>
    
        <div class="col p-5 m-3">
            <img src="https://lh3.googleusercontent.com/YyzGD0VC3GvFafiWQwIQ_M4U8XauTI28S8VTImMLXkQ4DrJh-1AzGejZLQ5Q9uUluw7KMads8FdzfwtWBC8_jwvaOGxMkWZAY6KQNQ=s550" >
        </div>

    </div>
    <div class = "row">
        <h2 style="text-align:center">Notable drops</h2>
    </div>

    
    <div class="col m-2 p-5">
        <a href = "https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/112152584508883169116747608160509024030917220131170585154614525074899763986442/">
            <img src="https://lh3.googleusercontent.com/3hHwAcUs_mvnD_VpErkg1NYjrNZWFfr81jAT4-rsOR_R-qj3d2AYYjwMt_-mBjm9hRrQ_CnZSbB3Aw-WyTaawfT8sAw2jYZoIC_gzw=w600" alt="Tyler Hustle" width = "400">
        </a>
    </div>

    <div class="col m-2 p-5">
        <a href = "https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/112152584508883169116747608160509024030917220131170585154614525072700740730881/">
            <img src="https://lh3.googleusercontent.com/hqd-27pmSF2NO0DA37Ak4T1zg3VyMkFygNNYnsBEfDmNzggrDgZERgm6d24Mjs_rNP8SEK2gFev67O7iwREyItSIrbuvbdgaI7U-dA=w600" alt="just some whales" width="400">
        </a>
    </div>

    <div class="col m-2 p-5">
    <a href = "https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/112152584508883169116747608160509024030917220131170585154614525073800252358657/">    
        <img src="https://lh3.googleusercontent.com/DDjBRn_EO-64x-QpAPGirC1MsJKhKiJ32y5gDiKaT_9_bb6cZvLNLDvWwDKtdsnp2QAkwRUaZdtKd1qlC7--DPhoC15bgzXlin0sAw=w600" alt="rush sammy" width = "400">
    </a>
    </div>
    
</div>

<style>
    .button1 {
      display: inline-block;
      padding: 15px 25px;
      font-size: 20px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #32bfe6;
      border: solid #828282;
      border-radius: 15px;
      
    }

    .button2 {
      display: inline-block;
      padding: 15px 25px;
      font-size: 20px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #32bfe6;
      background-color: #fff;
      border: solid #828282;
      border-radius: 15px;
    }
    
    .button1:hover {
        background-color: #1f758c}

    .button2:hover {
        background-color: #bababa}
    
    .button1:active {
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
</style>
    


