<h1>Create Your Own crypto</h1>
<p> You need a cryptowallet to create NFT</p>
<a class="btn btn-lg btn-danger" href="https://metamask.io/"> Connect your Metamask crypto wallet</a>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/MetaMask_Fox.svg/800px-MetaMask_Fox.svg.png" width="40" height="40" alt="metamask">
<hr>
