<h1>This is home page</h1>
 
<a href="/login">Login</a>
<a href="/logout">Logout</a>

<form id="uploadForm" enctype="multipart/form-data" action="/api/upload" method="post">  
    <input type="file" name="file" /><br/><br/>  
    <input type="submit" value="Upload Image" name="submit"><br/><br/>  
    <span id="status"></span>  
   </form>  

   <!-- upload files to public/images/users/d789s7d89ad89sd8sa9/FILE.jpg -->
<%= user._id %> 
<!-- create folders and save images to that folder -->
<!-- https://www.npmjs.com/package/multer -->